name: Linter

on:
  push:
    branches:
      - main

jobs:
  golangci:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Golang
        uses: actions/setup-go@v5
        with:
          go-version: 1.23.1

      - name: Cache Go Modules
        uses: actions/cache@v4
        with:
          key: ${{ runner.os }}-go-mod-${{ hashFiles('**/go.sum') }}
          path: /tmp/cache/go
          restore-keys: |
            ${{ runner.os }}-go-mod-

      - name: Install Dependencies
        run: go mod download

      - name: Run GolangCI-Lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.8.0
        continue-on-error: true